html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('https://static.vecteezy.com/system/resources/previews/006/852/804/non_2x/abstract-blue-background-simple-design-for-your-website-free-vector.jpg');
}

footer {
    background-color: #4e51a2;
}


#mySidenav {
    display: none;
    width: 250px;
    height: 100vh;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: indigo;
    overflow-x: hidden;
    padding-top: 50px;
    transition: 0.5s;
    color: white;
}

    #mySidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        #mySidenav a:hover {
            color: #f1f1f1;
        }

.open-btn {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    z-index: 2;
    top: 20px;
    left: 20px;
}

#sidebar-open {
    text-decoration: none;
    margin: 0 5px 0 0;
}
