@using OnlineBankingApp.Core.ViewModels.User
@model UserViewModel

<style>
    .info-wrapper {
        background-color: white;
        width: 250px;
        height: 430px;
        margin: 5% auto 0 auto;
        padding: 5px;
        align-items: center;
        text-align: center;
        border-radius: 25px;
    }

    .info-container{
        margin-top: 5px;
    }

    label {
        font-style: italic;
    }

    img {
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }
</style>

<div class="info-wrapper">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/2048px-Circle-icons-profile.svg.png" /><br>
    <div class="info-container">
    <label>First Name:</label>
    <p>@Model.FirstName</p>
    <label>Last Name:</label>
    <p>@Model.LastName</p>
    <label>Email:</label>
    <p>@Model.Email</p>
    </div>
    <a asp-area="" asp-controller="User" asp-action="Edit" asp-route-cardId="@Model.Id"
       class="user-btn">Edit</a>
</div>