@model IEnumerable<OnlineBankingApp.Core.ViewModels.Transaction.TransactionViewModel>

<style>
    .overflow-auto-tr {
        max-height: 200px;
        overflow-y: scroll;
    }

    .table-wrapper {
        text-align: center;
        margin: 0 auto;
    }

        .table-wrapper table {
            display: inline-table;
        }
</style>

<div class="table-wrapper">
    <table class="overflow-auto-tr">
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Amount</th>
        </tr>
        @foreach (var item in Model.Reverse().Take(10))
        {
            <tr>
                <td>@item.Date</td>
                <td>@item.Type</td>
                <td>@item.Amount$</td>
            </tr>
        }
    </table>
</div>
