
<div id="mySidenav">
    <p>Your Cards:</p>
    @if (ViewBag.Cards != null)
    {
        @foreach (var card in ViewBag.Cards)
        {
            <a asp-area="" asp-controller="Card" asp-action="GetCard" asp-route-cardId="@card.Id"
               class="btn btn-info">@card.Number</a>
        }
    }
    else
    {
        <p>No cards available.</p>
    }
</div>
