<style>
	.welcome-container {
		margin: 0 auto;
		color: white;
		text-shadow: 0px 0px 20px 5px rgba(173,111,173,1);
		text-align: center;
		margin-top: 15%;
	}
</style>

<div class="welcome-container">
	<h1>Welcome to your OnlineBankingApp</h1>
	<h2>Make transactions all over the WORLD!</h2>
</div>